body, html {
	width: 100%;
	background-color: #e5e5e5;
	margin: 0 auto;
	padding: 0;
}

.wrapper {
	width: 100%;
}
header {
	height: 100px;
	width: 100%;
	background-color: $primary-color;
	margin: 0 auto;
	padding: 0;
	padding-top: 2%;
	position: fixed;
	box-shadow: 1px 1px 10px  #888888;
	z-index: 9;
}

.menu {
	padding-top: 40px;
}
.menu li {
	margin-left: 5%;
	padding: 0;
	box-shadow: 1px 1px 10px  #888888;
	border-radius: 50%;
	float: left;
	display: inline;
	list-style-type: none;
}

.row {
	background-color: #e5e5e5;
}

main {
	margin-top: 200px;
}

.logo {
	font-size: 3em;
	color: #fff;
	font-weight: 100;
	margin: 0 auto;
	padding: 0;
	float: left;
	width: 40%;
}

.logo a {
	text-decoration: none;
	color: #fff;
}

.logo a:hover {
	 text-decoration: none;
	 color: #D6D9CD;
	 text-shadow: 0px 0px 10px #fff;
 }


 p {
 	color: #5e5e5e;
 }