
article {
	min-height: 200px;
	margin: 40px 0;
	background-color: #fff;
	box-shadow: 1px 2px 17px  #888888;
	position: relative;
}

.top {
	width: 100%;
	min-height: 50px;
	background-color: $primary-color;
	color: #fff; 
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 2.5em;
}

.title {
	min-width: 50px;
	float: left;
	margin: 0 auto;
	padding: 0;
}
.date {
	width: auto;
	margin: 0 auto;
	padding: 0;
	margin-top: 22px;
	float: right;
}


.cat {
	width: auto;
	margin: 0 auto;
	padding: 5px;
	padding-top: 2px;
	margin-top: 20px;
	float: right;
	margin-left: 10px;
	color: $primary-color;
	background-color: #fff;
}

.comments1 {
	bottom: 0;
	padding: 0;
	margin-top: 10px;
}
.count {
	color: $primary-color;
	font-weight: bold;
	float: left;
}

article h1, h2, h3, h4, h6   {
	font-style: italic;
	font-weight: 200;
	margin: 0 auto;
	padding: 0;
	line-height: 0.5;
}


.inhoud {
	padding: 20px;
	padding-right: 100px;
}


.title a {
	text-decoration: none;
	color: #fff;
}

.title a:hover {
	text-decoration: none;
	color: #E1E1E1;
}

.user {
	color: white;
}

.user:hover {
	color: #ccc;
}