
.article_create {
	min-height: 200px;
	margin: 40px 0;
	background-color: #fff;
	box-shadow: 1px 2px 17px  #888888;
	position: relative;
	padding: 0;
}

.top_create {
	width: 100%;
	min-height: 50px;
	background-color: $primary-color;
	color: #fff; 
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 4em;
	margin-bottom: 10px;
}

.title_create {
	min-width: 100px;
	float: left;
	margin: 0 auto;
	padding: 0;
	margin-top: 15px;
}

.article_create h1, h2, h3, h4, h6   {
	font-style: italic;
	font-weight: 200;
	padding: 0;
	line-height: 0.5;
}

.form-control {
	border-bottom: 1px solid $primary-color;
}

.foutmelding {
	font-weight: 200;
	font-style: italic;
	font-size: 5em;
	text-align: center;
	color: #5e5e5e;
}




