



.top_log {
	width: 100%;
	min-height: 50px;
	background-color: $primary-color;
	color: #fff; 
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 4em;
	margin-bottom: 10px;
}

.title_log {
	min-width: 100px;
	float: left;
	margin: 0 auto;
	padding: 0;
	margin-top: 15px;
}

.inhoud {
	padding: 20px;
}



