

.comments {
	bottom: 0;
	padding-left: 20px;
	margin: 0;
}

article h1, h2, h3, h4, h6   {
	font-style: italic;
	font-weight: 200;
	margin: 0 auto;
	padding: 0;
	line-height: 0.5;
}
.commentsectie {
	min-height: 100px;
	margin: 20px;
	margin-top: 0;
}

.comment h6 {
	color: $primary-color;
	margin: 0;
	margin-top: 10px;
}

.comment .user {
	margin-bottom: 0;
	color: $primary-color;
}

.comment_p {
	border-top: 2px solid $primary-color;
	padding-top: 4px;
	margin-top: 5px;
}

.respond {
	padding: 20px;
	margin-bottom: 0;
}





