body, html {
  width: 100%;
  background-color: #e5e5e5;
  margin: 0 auto;
  padding: 0; }

.wrapper {
  width: 100%; }

header {
  height: 100px;
  width: 100%;
  background-color: #4F93FC;
  margin: 0 auto;
  padding: 0;
  padding-top: 2%;
  position: fixed;
  box-shadow: 1px 1px 10px  #888888;
  z-index: 9; }

.menu {
  padding-top: 40px; }

.menu li {
  margin-left: 5%;
  padding: 0;
  box-shadow: 1px 1px 10px  #888888;
  border-radius: 50%;
  float: left;
  display: inline;
  list-style-type: none; }

.row {
  background-color: #e5e5e5; }

main {
  margin-top: 200px; }

.logo {
  font-size: 3em;
  color: #fff;
  font-weight: 100;
  margin: 0 auto;
  padding: 0;
  float: left;
  width: 40%; }

.logo a {
  text-decoration: none;
  color: #fff; }

.logo a:hover {
  text-decoration: none;
  color: #D6D9CD;
  text-shadow: 0px 0px 10px #fff; }

p {
  color: #5e5e5e; }

article {
  min-height: 200px;
  margin: 40px 0;
  background-color: #fff;
  box-shadow: 1px 2px 17px  #888888;
  position: relative; }

.top {
  width: 100%;
  min-height: 50px;
  background-color: #4F93FC;
  color: #fff;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 2.5em; }

.title {
  min-width: 50px;
  float: left;
  margin: 0 auto;
  padding: 0; }

.date {
  width: auto;
  margin: 0 auto;
  padding: 0;
  margin-top: 22px;
  float: right; }

.cat {
  width: auto;
  margin: 0 auto;
  padding: 5px;
  padding-top: 2px;
  margin-top: 20px;
  float: right;
  margin-left: 10px;
  color: #4F93FC;
  background-color: #fff; }

.comments1 {
  bottom: 0;
  padding: 0;
  margin-top: 10px; }

.count {
  color: #4F93FC;
  font-weight: bold;
  float: left; }

article h1, h2, h3, h4, h6 {
  font-style: italic;
  font-weight: 200;
  margin: 0 auto;
  padding: 0;
  line-height: 0.5; }

.inhoud {
  padding: 20px;
  padding-right: 100px; }

.title a {
  text-decoration: none;
  color: #fff; }

.title a:hover {
  text-decoration: none;
  color: #E1E1E1; }

.user {
  color: white; }

.user:hover {
  color: #ccc; }

.comments {
  bottom: 0;
  padding-left: 20px;
  margin: 0; }

article h1, h2, h3, h4, h6 {
  font-style: italic;
  font-weight: 200;
  margin: 0 auto;
  padding: 0;
  line-height: 0.5; }

.commentsectie {
  min-height: 100px;
  margin: 20px;
  margin-top: 0; }

.comment h6 {
  color: #4F93FC;
  margin: 0;
  margin-top: 10px; }

.comment .user {
  margin-bottom: 0;
  color: #4F93FC; }

.comment_p {
  border-top: 2px solid #4F93FC;
  padding-top: 4px;
  margin-top: 5px; }

.respond {
  padding: 20px;
  margin-bottom: 0; }

.top_log {
  width: 100%;
  min-height: 50px;
  background-color: #4F93FC;
  color: #fff;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 4em;
  margin-bottom: 10px; }

.title_log {
  min-width: 100px;
  float: left;
  margin: 0 auto;
  padding: 0;
  margin-top: 15px; }

.inhoud {
  padding: 20px; }

.article_create {
  min-height: 200px;
  margin: 40px 0;
  background-color: #fff;
  box-shadow: 1px 2px 17px  #888888;
  position: relative;
  padding: 0; }

.top_create {
  width: 100%;
  min-height: 50px;
  background-color: #4F93FC;
  color: #fff;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 4em;
  margin-bottom: 10px; }

.title_create {
  min-width: 100px;
  float: left;
  margin: 0 auto;
  padding: 0;
  margin-top: 15px; }

.article_create h1, h2, h3, h4, h6 {
  font-style: italic;
  font-weight: 200;
  padding: 0;
  line-height: 0.5; }

.form-control {
  border-bottom: 1px solid #4F93FC; }

.foutmelding {
  font-weight: 200;
  font-style: italic;
  font-size: 5em;
  text-align: center;
  color: #5e5e5e; }
