body, html {
	width: 100%;
	background-color: #e5e5e5;
	margin: 0 auto;
	padding: 0;
}

.wrapper {
	width: 100%;
}
header {
	height: 100px;
	width: 100%;
	background-color: #4F93FC;
	margin: 0 auto;
	padding: 0;
	padding-top: 2%;
	position: fixed;
	box-shadow: 1px 1px 10px  #888888;
	z-index: 9;
}

.menu {
	padding-top: 40px;
}
.menu li {
	margin-left: 5%;
	padding: 0;
	box-shadow: 1px 1px 10px  #888888;
	border-radius: 50%;
	float: left;
	display: inline;
	list-style-type: none;
}

.row {
	background-color: #e5e5e5;
}

main {
	margin-top: 200px;
}
article {
	min-height: 200px;
	margin: 40px 0;
	background-color: #fff;
	box-shadow: 1px 2px 17px  #888888;
	position: relative;
	padding: 0;
}

.top {
	width: 100%;
	min-height: 50px;
	background-color: #4F93FC;
	color: #fff; 
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 4em;
	margin-bottom: 10px;
}

.title {
	min-width: 100px;
	float: left;
	margin: 0 auto;
	padding: 0;
	margin-top: 15px;
}

article h1, h2, h3, h4, h6   {
	font-style: italic;
	font-weight: 200;
	margin: 0 auto;
	padding: 0;
	line-height: 0.5;
}


.inhoud {
	padding: 20px;
}

p {
	color: #5e5e5e;
}


.form-control {
	border-bottom: 1px solid #4F93FC;
}

.logo {
	font-size: 3em;
	color: #fff;
	font-weight: 100;
	margin: 0 auto;
	padding: 0;
}

.logo a {
	text-decoration: none;
	color: #fff;
}

.logo a:hover {
	 text-decoration: none;
	 color: #D6D9CD;
	 text-shadow: 0px 0px 10px #fff;
 }






